In [2]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

In [1]:
def schema_convert(df):
    schema_dict = {'A':str, 'B':int,'C':float,}
    df = pd.DataFrame({'A':['area_fips','own_code','industry_code','agglvl_code','size_code','year','qtr','disclosure_code','area_title','own_title','industry_title','agglvl_title','size_title','lq_disclosure_code','oty_disclosure_code'],'B':['qtrly_estabs_count','month1_emplvl','month2_emplvl','month3_emplvl','total_qtrly_wages', 'taxable_qtrly_wages','qtrly_contributions','avg_weekly_wage','oty_qtrly_estabs_count_chg','oty_month1_emplvl_chg','oty_month2_emplvl_chg','oty_month3_emplvl_chg','oty_total_qtrly_wages_chg','oty_taxable_qtrly_wages_chg','oty_qtrly_contributions_chg','oty_avg_wkly_wage_chg',],'C':['lq_qtrly_estabs_count','lq_month1_emplvl','lq_month2_emplvl','lq_month3_emplvl','lq_total_qtrly_wages','lq_taxable_qtrly_wages','lq_qtrly_contributions','lq_avg_wkly_wage','oty_qtrly_estabs_count_pct_chg','oty_month1_emplvl_pct_chg','oty_month3_emplvl_pct_chg','oty_month2_emplvl_pct_chg','oty_total_qtrly_wages_pct_chg','oty_taxable_qtrly_wages_pct_chg','oty_qtrly_contributions_pct_chg','oty_avg_wkly_wage_pct_chg']})
    for col, col_type in schema_dict.items():
        df[col] = df[col].astype(col_type)
    return df

In [4]:
qcew2007_df = pd.read_csv('data/2007.q1-q4.singlefile.csv')

/home/jc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,7,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

MemoryError: Unable to allocate 2.26 GiB for an array with shape (21, 14438464) and data type int64

Too much data for a pandas (duh). Also some inconsistent data types in some columns.

In [10]:
qcew2007_df = pd.read_csv('data/2007.q1.by_size.csv', dtype = str)
qcew2007_df.head()

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,area_title,own_title,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,US000,5,10,21,1,2007,1,NaN,U.S. TOTAL,Private,...,130188,1.7,4839069335,6.7,2024330138,4.4,-21861828,-2.0,34,4.8
1,US000,5,10,21,2,2007,1,NaN,U.S. TOTAL,Private,...,107456,1.2,4162656328,5.5,1726937812,3.4,-57070246,-4.5,27,4.2
2,US000,5,10,21,3,2007,1,NaN,U.S. TOTAL,Private,...,203592,1.6,6732691796,6.3,2596666663,3.8,-86405295,-4.8,30,4.4
3,US000,5,10,21,4,2007,1,NaN,U.S. TOTAL,Private,...,371159,1.9,11415214806,6.5,4419846197,4.1,-171282542,-5.6,31,4.3
4,US000,5,10,21,5,2007,1,NaN,U.S. TOTAL,Private,...,252553,1.7,9413557660,6.3,3324786274,3.8,-159111463,-6.1,35,4.5

A single quarter of data works fine if everything is converted to strings. Let's try the whole year again.

qcew2007_df = pd.read_csv('data/2007.q1-q4.singlefile.csv')

And that crashed my machine. If I'm going to work with this much data, I'm going to need to make use of Spark/AWS in order to crunch these numbers. Let's proceed with the single quarter's worth of data.

Let's see if we can un-string the data. (helper function added above)